$background: #f5f5f5; 

.blog {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .rowNotifacte {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        align-items: flex-end;
    }

    .blogWindow {
        width: 100%; 
        margin-top: 1px;
        background-color: white;
        padding: 0 1.5em;
    }

    .singleBlog {
        padding: 1.5em 0 2em;
    }

    .blogPreview, .notificationBanner {
        border-bottom: 1px solid #eee;
        margin: 0;
        padding: 1.5em 0;
    }

    .notificationBanner {
        background-color: rgb(250, 250, 250);
        max-width: 1200px;
        width: 100%;
        padding: 1em 1.5em;
        font-size: 12px;

        h3 {
            margin: .3em 0;
        }
    }

    .blogPreview:last-child {
        border: none;
    }

    @media all and (min-width:490px) {
        .blogWindow {
            margin: 0 20px 4em 20px; 
            max-width: 1200px;

            .blogPreview {
                border-bottom: 1px solid #eee;
                margin: 0;
                padding: 4em 5em;
            }
        } 
        .notificationBanner {
            padding-left: calc(6em + 20px);
            padding-right: calc(6em + 20px);
        }
        
        .singleBlog {
            padding: 5.34em 6.67em;
        }
    }
}

.blog::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-color: $background;
    box-sizing: border-box;
}

.toggleBtn {
    position: relative;
    left: 0;
    z-index: 10;
    border-color: transparent;
    color: transparent;
    background-color: transparent;
}

.toggleBtn:focus {
    color: transparent;
}

.toggleBtn:hover {
    color: transparent;
}

.pushBtn {
    font-size: 12px;
}


.toggleOff, .toggleOn {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 60px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    bottom: 0;
}

.toggleOff::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: black;
}

.toggleOn {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 60px;
    height: 30px;
    border: 1px solid black;
    background: black;
    border-radius: 25px;
    bottom: 0;
}

.toggleOn::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 35px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}