.home {
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;

    .innerHTML {
        width: 100%;
        max-width: 1200px;

    }

    @media all and (max-width:490px) {
        padding: 0 1.5em;
    }
}
